.list3a {
    padding:0;
    list-style: none;
    counter-reset: li;
}
.list3a li {
    position: relative;
    border-left: 4px solid #337AB7;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 80px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list3a li:before {
    line-height: 32px;
    position: absolute;
    top: 10px;
    left:-80px;
    width:80px;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    color: #77AEDB;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list3a li:hover:before {
    color: #337AB7;
}
.list3a li:after {
    position: absolute;
    top: 26px;
    left: -40px;
    width: 60px;
    height: 60px;
    border: 8px solid #3399FF;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.1);
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list3a li:hover:after {
    opacity: 0.2;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

/**/
body {
    /*background: #2a2a2b;*/
    color: #debdae;
    /*text-align: center;*/
    text-align: left;
    font-family: Arial, Helvetica;
}

.big {
    font-size: 1.2em;
}


/* Custom dropdown */
.custom-dropdown {
    position:  relative;
    /*position: absolute;*/
    width: 05%;
    left: 0%;
    top: 10px;
    /*height: 375px;*/
    display: inline-block;
    vertical-align: middle;
    margin: 10px; /* demo only */
}

.custom-dropdown select {
    cursor: auto;
    background-color: #2980b9;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.0em;
    border: 0;
    margin: 0;
    height: 370px;
    width: 250px;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    /*position: absolute;*/
    position: relative;
    pointer-events: none;
}

/*.custom-dropdown::after { !*  Custom dropdown arrow *!*/
    /*content: "\25BC";*/
    /*height: 1em;*/
    /*font-size: .625em;*/
    /*line-height: 2;*/
    /*right: 1.2em;*/
    /*top: 50%;*/
    /*margin-top: -.5em;*/
/*}*/

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 0em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}

/*Заголовок*/
.header-h1 {
    text-align: center;
    margin-bottom: .5rem;
}
.header-h1 h1 {
    background: #0097a7;
    margin-bottom: 0;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff;
}

/*Log*/
.messages-log {
    position:  relative;
    /*position: absolute;*/
    /*position: fixed;*/
    width: 40%;
    left: 20%;
    top: 10px;
    display: inline-block;
    vertical-align: middle;
    /*margin: 10px; !* demo only *!*/
    margin: 0px; /* demo only */
}

.message-text {
    position:  relative;
    width: 30%;
    left: 10%;
    top: 30%;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    margin: 10px; /* demo only */
}

#sel_friends_list_2 ul li {
    border-bottom: 1px dashed lightgray;
    background-color: cadetblue;
}

#sel_friends_list_2 ul li a {
    padding: 8px 20px 8px 20px;
    color: white;
    display: block;
}

#sel_friends_list_2 ul li a:hover {
    background-color: lightgreen;
    transition: 0.5s;
    padding-left: 30px;
    padding-right: 10px;
}

.custom-dropdown div {
    cursor: auto;
    background-color: #2980b9;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.0em;
    border: 0;
    margin: 0;
    height: 370px;
    width: 250px;
    border-radius: 3px;
    text-indent: 0.01px;
}